* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.page-header {
    background-color: rgb(255, 104, 22);
}

h2 {
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.logo-scritta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop-icons {
    font-size: 15px;
}

.logo {
    width: 150px;
    padding: 20px;
    vertical-align: middle;

}

.page-content {
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 2px;
    padding: 40px;
}

.container-title {
    font-size: 20px;
    font-weight: 300;
}

.booleando {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spedizione {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
}

.end-page {
    background-color: black;
    font-size: 10px;
    color: white;

}

.srl {
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 5px;

}

.info {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
}

.simbol {

    display: flex;
    flex-wrap: wrap;
}

footer img {
    height: 25px;
}

.centrale {
    display: flex;
    justify-content: center;
}