* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.page-header {
    background-color: rgb(255, 104, 22);
}

a {
    color: currentColor;

}

ul {
    display: flex;
    justify-content: column-reverse;
    list-style-type: none;
    gap: 10px;
    color: white;
}

ol {
    padding: 10px;
}

li {
    font-size: 15px;
    font-weight: 100;
    list-style-type: none;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop-icons {
    font-size: 15px;
}

img {
    max-width: 100%;
}

.logo {
    width: 150px;
    padding: 20px;
    vertical-align: middle;

}

.page-content {
    padding: 20px;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}


.container-title {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0px;
}

.booleando {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spedizione {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
}

.end-page {
    background-color: black;
    font-size: 10px;
    color: white;

}

.srl {
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 5px;

}

.info {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
}

.simbol {

    display: flex;
    flex-wrap: wrap;
}

footer img {
    height: 25px;
}

.centrale {
    display: flex;
    justify-content: center;
}

.col {
    max-width: 300px;
}

.border {
    border: 1px solid rgb(190, 190, 190);
    margin: 1px;
}